# Ensime stuff
.ensime_cache
.ensime
ensime-langserver.log
pc.stdout.log

# Generic scala
project/project/
target/

# Data
cmudict-0.7b

# IntelliJ stuff
.idea/

# Database connection details
conf/application.conf

# Temporary files
~$*
*.swp
*.swo
.#*
